@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Path: styles\globals.css */
@layer base {
  body {
    @apply bg-dark;
  }
}
